#login-container {
	& { text-align:center; }
	h1 { font-size:40px; }
	i { font-size:26px;left:15px;cursor:pointer;position:relative;@include transition(all 250ms ease-in); }
	i:hover { color:$blue;left:20px; }
}