#project-container {
	.project-div {
		& { height:50px;border-bottom:1px solid $opaque;line-height:50px;@include transition(all 200ms ease-out);display:block;text-decoration:none; }
		&:hover { border-bottom:1px solid $blue; }
		&:hover span, &:hover a { color:$blue;text-decoration:none; }
		.title { font-size:20px;letter-spacing:1px; }
		.project-options { float:right; }
	}
}

#task-container {
	.task-div {
		& { height:50px;border-bottom:1px solid $opaque;line-height:50px;@include transition(all 200ms ease-out);display:block;text-decoration:none; }
		&.completed { text-decoration:line-through; }
		&.completed span { color:$opaque; }
		.task { font-size:16px; }
		.project-options { float:right; }
		.complete-icon { margin-right:15px;font-size:26px;position:relative;top:3px;@include transition(all 250ms ease-out); }
		.complete-icon:hover { color:$opaque;@include transform(rotate(360deg)); }
	}
}