$opaque: rgba(255, 255, 255, 0.3);
$bg-color: #00131a;
$blue: #00bbff;

body { background-color:$bg-color;padding:60px 0 0 0;margin:0; }
p, span, div, input, textarea, h1, h2, h3 { color:white;font-family:"Quicksand", sans-serif; }

h3 { font-weight:400;margin:20px 0 0 0;padding-bottom:10px;border-bottom:1px solid $opaque;font-size:36px;letter-spacing:1px; }

.container { max-width:1200px;margin:0 auto; }

.theme-input { appearance:none;-moz-appearance:none;-webkit-appearance:none;outline:none;border:none;border-bottom:1px solid $opaque;background:#00131a;font-size:26px;letter-spacing:1px;height:50px;padding-bottom:2px; }
.input-div { position:relative;z-index:2; }
.home-input-error { z-index:-1;position:absolute;width:100%;height:30px;text-align:center;left:0;bottom:0px;color:red;transition: all 250ms ease-in; }

/* nav */

nav {
	& { height:60px;width:100%;border-bottom:1px solid $opaque;position:fixed;top:0;left:0;padding:0 15px; }
	span { line-height:60px; }
	.logout { float:right;margin-right:30px;cursor:pointer; }
	.page-name { font-size:26px;letter-spacing:1px;font-weight:700; }
}

/* includes */

@mixin transform($t) {
	-webkit-transform: $t;
	-moz-transform: $t;
	-ms-transform: $t;
	-o-transform:$t;
	transform: $t;
}

@mixin transition($t) {
	-webkit-transition:$t;
	-moz-transition:$t;
	-ms-transition:$t;
	-o-transition:$t;
	transition:$t;
}

/* all pages */

.page-header {
	& { position:relative; }
	i { position:absolute;font-size:30px;color:white;right:0px;top:15px;cursor:pointer;@include transition(all 200ms ease-in); }
	i:hover { @include transform(rotate(90deg)); }
	.input-div {
		& { height:0;@include transition(all 200ms ease-out);overflow:hidden;width:100%; }
		.theme-input { width:100%;font-size:20px; }
		.add-submit {
			& { position:absolute;height:100%;background:white;top:0;right:0;width:60px;cursor:pointer;@include transition(all 200ms ease-in); }
			span { position:absolute;top:50%;left:50%;@include transform(translate(-50%, -50%));color:$bg-color;font-weight:bold;@include transition(all 200ms ease-in); }
		}
		.add-submit:hover {
			& { background:transparent; }
			span { color:white; }
		}
	}
	.input-error { color:$blue;height:0px;@include transition(height 200ms ease-out);box-sizing:border-box;padding-top:5px;overflow:hidden; }
	.link-arrow { margin-right:15px;color:white;text-decoration:none;@include transition(all 200ms ease-out); }
	.link-arrow:visited { color:white; }
	.link-arrow:hover { color:$blue; }
}

.empty-list { margin-top:10%;color:$opaque;font-size:26px;font-style:italic;text-align:center;letter-spacing:1px; }
#loading-div { margin-top:10%;text-align:center; }

.fa { cursor:pointer; }
.remove { 
	& { @include transition(all 200ms ease-in); }
	&:hover { color:red; }
}